# Enumerate

+ for ile non-scalar yapısı içerisinde dolaşırken ya elemanları ya da indexleri üzerinde dolanmıştık , burada da ise ikisini aynı anda yapıcaz.

+ Variable unpacking konusunda bir tuple, liste gibi yapıların değerlerini birden çok değişkene tek seferde eşitlemiştik. Bu ifadenin aynısını iterasyon ile de yapabiliriz.

+ Enumerate fonksiyonu , nesneleri numaralandırmak için kullanılır. Bir listedeki hem elemanı hem de indeksi getirir.

In [15]:
l = [(1,2), (10,20)]

In [16]:
for e in l:
    print(e)

(1, 2)
(10, 20)

In [17]:
for e in l:
    a, b = e
    print(a)
    print(b)
    print("---------")

1
2
---------
10
20
---------

In [18]:
for a,b in l:
    print("Tuple'ın ilk elemanı: ", a)
    print("Tuple'ın ikinci elemanı: ", b)
    print("-----------------------------")

Tuple'ın ilk elemanı:  1
Tuple'ın ikinci elemanı:  2
-----------------------------
Tuple'ın ilk elemanı:  10
Tuple'ın ikinci elemanı:  20
-----------------------------

+ enumerate() fonksiyonu bize (index, element) olarak verir. 2 değişken tanımlarız 1.değişken indexi verirken, 2.değişken indexe karşılık gelen elemanı verir.

In [19]:
adlar = ["Tyler", "Blake", "Cory", "Cameron"]

In [20]:
for e in adlar:
    print(e)

Tyler
Blake
Cory
Cameron

In [21]:
for i,e in enumerate(adlar):
    print(i,e)

0 Tyler
1 Blake
2 Cory
3 Cameron

In [22]:
for i,e in enumerate(adlar):
    print(i, " indexindeki eleman: ",e)

0  indexindeki eleman:  Tyler
1  indexindeki eleman:  Blake
2  indexindeki eleman:  Cory
3  indexindeki eleman:  Cameron

+ enumerate() fonksiyonu 0'dan başlamak zorunda değil, özellikle kaçtan başlayacağıını belirtebiliriz.

+ i değeri (index değeri) herhangi bir deeğerden başlayabilir. i değeri birer birer artarak ilerler.

In [23]:
for i,e in enumerate(adlar, start = 1):
    print(i, " lokasyonunda bulunan eleman: ",e)

1  lokasyonunda bulunan eleman:  Tyler
2  lokasyonunda bulunan eleman:  Blake
3  lokasyonunda bulunan eleman:  Cory
4  lokasyonunda bulunan eleman:  Cameron

In [24]:
adlar = ["Tyler", "Blake", "Cory", "Cameron"]

In [25]:
for i,e in enumerate(adlar, start = 100):  
    print(i, " lokasyonunda bulunan eleman: ",e)
    
#i değeri 100,101,102,103 diye artarak devam eder.

100  lokasyonunda bulunan eleman:  Tyler
101  lokasyonunda bulunan eleman:  Blake
102  lokasyonunda bulunan eleman:  Cory
103  lokasyonunda bulunan eleman:  Cameron


# zip()

+ Farklı yapıların içinde paralel iterasyon yapmamızı sağlar.

In [26]:
ogrenciler = ["ogrenci_1","ogrenci_2","ogrenci_3"]

In [27]:
notlar = [90,80,72]

In [28]:
for i in range(len(ogrenciler)):
    s = ogrenciler[i]
    g = notlar[i]
    
    print(s,g)

ogrenci_1 90
ogrenci_2 80
ogrenci_3 72

In [30]:
for i in range(len(ogrenciler)):
    print(ogrenciler[i],notlar[i])

ogrenci_1 90
ogrenci_2 80
ogrenci_3 72

In [29]:
for s,g in zip(ogrenciler,notlar):
    print(s,g)

ogrenci_1 90
ogrenci_2 80
ogrenci_3 72

# zip() örnek

In [33]:
# Her ayda ki karı hesaplama

satis = [3500.00, 76300.00, 67200.00]
maliyet = [56700.00, 21900.00, 12100.00]

for i in range(len(maliyet)):
    s = satis[i]
    c = maliyet[i]
    
    kar= s-c
    print(f"Total profit: {kar} ") 
    
#her ay için satis - maliyet hesaplaması yapılır.

Total profit: -53200.0
Total profit: 54400.0
Total profit: 55100.0

In [34]:
satis = [3500.00, 76300.00, 67200.00]
maliyet = [56700.00, 21900.00, 12100.00]

for s,c in zip(satis, maliyet):
    kar = s-c
    print(f"Total profit: {kar} ")

Total profit: -53200.0
Total profit: 54400.0
Total profit: 55100.0


# zip() ile dictionary yaratmak

In [35]:
keys = ["isim", "soyad", "ulke", "is"]
values = ["Denis", "Walker", "Turkey", "Data scientist"]

In [39]:
d = {}

for k,v in zip(keys, values):
    d[k]=v

In [40]:
d

{'isim': 'Denis', 'soyad': 'Walker', 'ulke': 'Turkey', 'is': 'Data scientist'}

In [41]:
d = {}

for i in range(len(keys)):
    k=keys[i]
    v=values[i]
    
    d[k] = v #şeklinde de yapılabilirdi.

In [45]:
d

{'isim': 'Denis', 'soyad': 'Walker', 'ulke': 'Turkey', 'is': 'Data scientist'}

In [48]:
d["isim"]

'Denis'

In [49]:
d["is"]

'Data scientist'